@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #131317;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
  /* text-shadow: -1px 0 2px white, 0 1px 2px white, 1px 0 2px white, 0 -1px 2px white; */
}

.info {
  width: 60%;
}

.cont {
  height: 92vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont img {
  height: 100%;
}

.links {
  height: 90%;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

.ct {
  margin-left: 32px;  
  transition: 0.6s;
}

.md {
  margin-left: 20px;
  transition: 0.6s;
}

.ex {
  margin-left: 0px;
  transition: 0.6s;
}

.ct:hover {
  margin-left: 52px;
  transition: 0.4s;
}

.md:hover {
  margin-left: 40px;
  transition: 0.4s;
}

.ex:hover {
  margin-left: 20px;
  transition: 0.4s;
}