@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #131317;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-image: url(../img/DeathNote-Heart.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 970px;
}

.texto h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  text-shadow: -1px 0 8px black, 0 1px 8px black, 1px 0 8px black, 0 -1px 8px black;
}

.texto h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  text-shadow: -1px 0 8px black, 0 1px 8px black, 1px 0 8px black, 0 -1px 8px black;
}

.texto p {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px 0 8px black, 0 1px 8px black, 1px 0 8px black, 0 -1px 8px black;
}

.info a {
  margin-top: -80px;
  padding: 2px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  background-color: white;
}